.registerContainer {
    /* border: 2px solid #3892CB; */
    padding: 24px 24px 32px;
    border-radius: 10px;
    margin: 0 auto;
}

.inputStyle {
    width: 330px;
}

.boxInput {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.textCheckbox {
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}